body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}


.main {
    font-size: 24px;
    font-weight: bold;
    padding: 8px;
    margin-bottom: 15px;
    background-color: blanchedalmond;
}

.recipe-card {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.recipe-card img {
    display: block;
    width: 400px;
    height: auto;
}

.recipe-card a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;

}