* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin-left: 20px;
}

ul, ol {
    margin-top: 5px;
    padding-left: 20px;
}

.main {
    font-size: 24px;
    font-weight: bold;
    padding: 8px;
    margin-bottom: 15px;
    background-color: blanchedalmond;
}

.recipe-card {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.recipe-card img {
    display: block;
    width: 400px;
    height: auto;
}

.recipe-card .recipe-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;

}

.ingredients {
    background-color: blanchedalmond;
    margin: 10px 0;
    padding: 5px 0;
    max-width: 600px;
}